@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    transition: all;
    duration: 0.2s;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    transition: all;
    duration: 0.2s;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e9eaee;
    border-radius: 100vh;
    border: 0px solid #edf2f7;
    transition: all;
    duration: 0.2s;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e2e3e8;
    transition: all;
    duration: 0.2s;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #dadadf;
    transition: all;
    duration: 0.2s;
  }

  /* Dark mode */

  /* Handle */
  .dark ::-webkit-scrollbar-thumb {
    background: #1f2937;
    border-radius: 100vh;
    border: 0px solid #edf2f7;
    transition: all;
    duration: 0.2s;
  }

  /* Handle on hover */
  .dark ::-webkit-scrollbar-thumb:hover {
    background: #2a384c;
    transition: all;
    duration: 0.2s;
  }
  /* Handle on active */
  .dark ::-webkit-scrollbar-thumb:active {
    background: #212d3f;
    transition: all;
    duration: 0.2s;
  }
}
